* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

#header {
    height: 72px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 997;
    transition: all 0.5s;
}

nav {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    font-size: 30px;
    margin: 0;
    padding: 21px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
}

.logo a,
.logo a:hover {
    color: #7a6960;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex
}
.mainNav a {
    text-decoration: none;
    color: #4e4039;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
    padding: 27px 0px 0px 15px;
    display: block;
}

li>a:hover,
li.active>a,
li li:hover>a {
    color: #eb5d1e;
    text-decoration: none;
}
section{
    margin-top: 60px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.head_section{
    flex-direction: column;
    align-items: center;
}
.head_section > p{
 margin-top: 30px;
 font-family: sans-serif;
}
.card__wrapper:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    cursor: default;
    user-select: none;
}
.card__wrapper {
    width: 340px;
    height: 450px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(64, 75, 122, 0.08);
  }
  .card__profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .card__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .card__description {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .card__quote {
    font-size: 12px;
    position: relative;
  }
  .card__quote::before,
  .card__quote::after {
    content: open-quote;
    font-size: 12px;
    color: grey;
  }
  .contact__details {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  fa-facebook,
  fa-linkedin,
  fa-twitter {
    background: #46bae2;
  }